<div ng-controller="LinkCtrl">
  <h1>Links <a ui-sref="addContent">Add Link<a></h1>
  <ol>
    <li ng-repeat="item in links | orderBy:'rankVal':true">
      <h6>
        <span ng-click="LinkFactory.upvote(item)" class="upvote">&#9757;  </span>
        <a href="{{item.link}}">{{item.title}}</a>
        <small>
          Posted: {{LinkFactory.timeElapsed(item.date)}}, Votes:{{item.upvotes}}
          <a ui-sref="comments({ linkId: item.id})">discuss</a>
        </small>
      </h6>
    </li>
  </ol>
</div>
